
.contacts{
    transition: 0.5s;
}

.contact-form {
    width: 60%;
    margin: 20px auto;
}

.contact-form input, .contact-form textarea {
    width: 100% !important;
    margin: 10px 0;
    padding: 10px;
    color: inherit;
    border-color: var(--seventh-light-color) soilid;
}

.contact-form button {
    padding: 10px 20px;
}

.business-card {
    width: 60%;
    margin: 20px auto;
    justify-content: space-between;
    border-radius: 2rem; /* Increase the border-radius */
    background-color: var(--secondary-light-color); /* Change the background color */
}

.dark .business-card {
    background-color: var(--primary-light-color); /* Change the background color */
}



.form-input {
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    justify-content: space-between;
    border-radius: 2rem;
    border-color: transparent;
}

.contact-mail {
    text-align: center;
}

.contact-mail-title {
    font-size: 4rem;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
    text-align: center;
}

.contact-mail-title:hover {
    text-decoration: underline;
    text-underline-offset: 2rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .contact-mail-title {
        font-size: 3rem;
    }
}

@media (max-width: 480px) {
    .contact-mail-title {
        font-size: 2rem;
    }
}

.form-input-textarea {
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    justify-content: space-between;
    border-radius: 2rem;
    border-color: transparent;
    height: 200px;
    resize: none;

}

.form-submit {
    background-color: var(--third-light-color);
    font-weight: bolder;
    color: var(--fifth-light-color);
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    margin-top: 10px;
    border-color: transparent;
}

.dark .form-submit {
    background-color: var(--third-dark-color);
    color: black;
}