.footer {
    width: 100%;
    background-color: var(--seventh-light-color);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    transition: 0.5s;
}

.footer-first-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

/* Contact Section */
.contact {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.contact-email {
    font-size: 30px;
    margin-top: 15px;
    text-decoration: none;
    font-weight: bolder;
    color: inherit;
}

.contact-title {
    font-size: 48px;
    font-weight: bold;
    color: inherit;
}

@media (max-width: 600px) {
    .contact-title {
        font-size: 40px;
    }
}

.contact-button {
    background-color: var(--third-light-color);
    color: var(--fifth-light-color);
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    margin-top: 10px;
    border-color: transparent;
}

/* Info Section */
.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-weight: bolder;
}

.info a {
    text-decoration: none;
    color: var(--secondary-light-color);
    margin: 5px 0;
}

.dark .info a {
    color: var(--third-dark-color);
}

.info h4, .social-media h4 {
    font-size: 30px;
    font-weight: bold;
}

.email-link {
    font-size: 20px;
    font-weight: bold;
    color: var(--third-light-color);
    text-decoration: none;
}

/* Social Media Section */
.social-media {
    flex: 1;
    height: 118px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.social-media-links {
    display: flex;
    gap: 15px;
}

.icon {
    width: 2rem;
    height: 2rem;
}

/* Copyright Section */
.copyright {
    font-size: 14px;
    color: var(--sixth-light-color);
    margin-top: 20px;
}

.dark .footer {
    background-color: var(--fifth-dark-color);
    color: var(--third-dark-color);
}

.dark .contact-button {
    background-color: var(--secondary-dark-color);
    color: black;
}

@media (max-width: 600px) {
    .footer-first-row {
        flex-direction: column;
        height: auto;
    }
}