@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,300&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, rubik, sans-serif;
}

html{
  scroll-behavior: smooth;
}


.App{
  width: 100vw;
  min-height: 100vh;
  background: #ced8ff;
  display: grid;
  transition: 0.5s;
}

.App.dark{
  background: #222;
  color: #fff;
}

.Routes{
  flex: 1;
}